<div class="container-fluid padding-0">
	<footer>
		<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<ul>
					<li><a href="javascript:void(0);">Home</a></li>
					<li><a href="javascript:void(0);">About Us</a></li>
					<li><a href="javascript:void(0);">Contact Us</a></li>
					<li><a href="javascript:void(0);">Privacy Policy</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<ul>
					<li><a href="javascript:void(0);">Home</a></li>
					<li><a href="javascript:void(0);">About Us</a></li>
					<li><a href="javascript:void(0);">Contact Us</a></li>
					<li><a href="javascript:void(0);">Privacy Policy</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<ul>
					<li><a href="javascript:void(0);">Home</a></li>
					<li><a href="javascript:void(0);">About Us</a></li>
					<li><a href="javascript:void(0);">Contact Us</a></li>
					<li><a href="javascript:void(0);">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
		</div>
			
	</footer>
	<div class="col-sm-12 copyright">
		<p class="text-center">copyright&copy; indydesk.com</p>
	</div>

</div>